*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: "Segoe UI", Arial, sans-serif;
}

body{
background:#f5f7fa;
color:#333;
line-height:1.6;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:white;
box-shadow:0 2px 5px rgba(0,0,0,0.05);
position:sticky;
top:0;
}

.navbar nav a{
margin-left:20px;
text-decoration:none;
color:#555;
font-size:14px;
font-weight:500;
}

.navbar nav a:hover{
color:#000;
}

.logo{
font-weight:600;
}

/* HERO */

.hero{
display:flex;
align-items:center;
justify-content:space-between;
padding:80px 60px;
gap:40px;
}

.hero-text{
max-width:600px;
}

.hero-text h1{
font-size:32px;
margin-bottom:20px;
color:#111;
}

.tagline{
font-size:16px;
color:#555;
}

.hero-img img{
width:220px;
height:220px;
border-radius:50%;
object-fit:cover;
box-shadow:0 8px 25px rgba(0,0,0,0.1);
}

/* BOTONES */

.buttons{
margin-top:25px;
}

.btn{
padding:10px 20px;
border:none;
background:#111;
color:white;
cursor:pointer;
margin-right:10px;
border-radius:6px;
font-size:14px;
}

.btn.secondary{
background:#0077b5;
}

.btn:hover{
opacity:0.9;
}

/* INFO */

.info{
padding:40px 60px;
background:white;
margin-top:20px;
}

.info h2{
margin-bottom:20px;
}

.info p{
margin-bottom:8px;
}

/* SKILLS */

.skills{
padding:60px;
}

.skills h2{
margin-bottom:30px;
}

.skill-group{
margin-bottom:25px;
}

.skill-group h4{
margin-bottom:10px;
}

.skill-group span{
display:inline-block;
background:#e9eef5;
padding:6px 12px;
margin:4px;
border-radius:5px;
font-size:13px;
}

/* EXPERIENCIA */

.experience-section{
background:white;
padding:60px;
}

.experience-section h2{
margin-bottom:40px;
}

.experience{
background:#f7f9fc;
padding:20px;
margin-bottom:20px;
border-radius:8px;
box-shadow:0 2px 8px rgba(0,0,0,0.05);
}

.experience h4{
margin-bottom:10px;
}

.experience ul{
padding-left:20px;
}

.experience li{
margin-bottom:6px;
}

/* FOOTER */

footer{
text-align:center;
padding:30px;
background:#111;
color:white;
margin-top:40px;
}

/* RESPONSIVE */

@media(max-width:900px){

.hero{
flex-direction:column;
text-align:center;
}

.hero-img img{
width:240px;
aspect-ratio:1/1;
object-fit:cover;
border-radius:50%;
border:4px solid #2c3e50;
box-shadow:0 10px 30px rgba(0,0,0,0.15);
}

.navbar{
flex-direction:column;
gap:10px;
}

}


/* ICONOS*/

.social-link{
  font-size:40px;
  position:relative;
}

.external{
  font-size:14px;
  margin-left:6px;
  opacity:0;
  transition:0.3s;
}

.social-link:hover .external{
  opacity:1;
}

.icon-link i {
  font-size: 24px; /* tamaño de los iconos */
  margin-left: 5px; /* espacio entre el icono de LinkedIn y la flecha */
  vertical-align: middle; /* alineación vertical */
  color: #0A66C2; /* opcional, color de LinkedIn */
}

.icon-link:hover i {
  transform: scale(1.2); /* efecto hover para que crezcan un poco */
}