/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilo para encabezados */
h1 {
    margin-left: 500px;
    font-size: 20px;
    color: #090808;
}

h2, h3, h4, h5, h7 {        /* Titulos de los trabajos que he tenido */
    max-width: 800px;
    margin: 0 auto;
    font-size: 20px;
    color: #060606;
}

h6 { /* Titulo de la ventana modal */
  text-align: center;
  font-size: 20px;
  margin-top: 0;
}

/* Secci칩n de perfil */

#perfil .titulo {
    font-size: 24px; /* Tama침o grande para el t칤tulo */
    color: #333;
    font-weight: bold;
    margin-bottom: 20px; /* Espacio m치s peque침o entre el t칤tulo y la imagen */
}

/* Secci칩n de perfil */
#perfil {
    display: flex;
    flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
    align-items: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centrado de todo el contenido */
}

#perfil img {
    width: 180px;
    height: 180px;
    border-radius: 80%;
    margin-right: 20px;
    border: 2px solid #ddd;
}

#perfil .info p {
    margin: px 0;
    font-size: 16px;
}
/* Secci칩n de biograf칤a */
#biografia {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#biografia p {
    text-align: justify;
    line-height: 1.5;
}

#biografia ul {
    margin: 10px 0;
    padding-left: 20px;
}

#biografia ul li {
    margin-bottom: 10px;
}

/* L칤nea divisoria */
hr {
    border: 1px solid #ccc;
    margin: 20px 0;
}

#btnProyectos {             /* Seccion otras ideas */
    margin: 20px 40px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4ca5af;
    color: white;
    border: none;
    border-radius: 10px;  /* Bordeado del boton*/
    cursor: pointer;
  }
  
  #btnProyectos:hover {
    background-color: #f74803;
  }
  
  /* Ventana modal */
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .modal-contenido {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px 30px;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  }
  

.cerrar {
  position: absolute;   /* 游녣 ESTO ES LA CLAVE */
  top: 10px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #53bce6;
  cursor: pointer;
  transition: color 0.3s;
}
  
  .cerrar:hover {  /* Color al posicionar el cursor en el tache */
    color: #1e1607ba;
  }
  
